@model CodeUnityLabs.Models.User

<h2>Register</h2>

<form method="post">

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>User Type</label>
        <select asp-for="User_Type_Id"
                asp-items="ViewBag.UserTypes"
                class="form-control">
        </select>
    </div>

    <button class="btn btn-success">Register</button>

</form>

@if (ViewBag.Error != null)
{
    <div class="text-danger mt-2">@ViewBag.Error</div>
}