@model CodeUnityLabs.Models.Rezervation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Reservation</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="row g-3">

            <input type="hidden" asp-for="Reservation_Id" />

            <!-- User Dropdown -->
            <div class="col-md-6">
                <label asp-for="User_Id" class="form-label">User</label>
                <select asp-for="User_Id"
                        class="form-select"
                        asp-items="@(ViewData["User_Id"] as SelectList)">
                    <option value="">-- Select User --</option>
                </select>
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>

            <!-- Resource Dropdown -->
            <div class="col-md-6">
                <label asp-for="Resource_Id" class="form-label">Resource</label>
                <select asp-for="Resource_Id"
                        class="form-select"
                        asp-items="@(ViewData["Resource_Id"] as SelectList)">
                    <option value="">-- Select Resource --</option>
                </select>
                <span asp-validation-for="Resource_Id" class="text-danger"></span>
            </div>


            <!-- Start Time -->
            <div class="col-md-6">
                <label asp-for="Start_Time" class="form-label">Start Time</label>
                <input asp-for="Start_Time" type="datetime-local" class="form-control" />
                <span asp-validation-for="Start_Time" class="text-danger"></span>
            </div>

            <!-- End Time -->
            <div class="col-md-6">
                <label asp-for="End_Time" class="form-label">End Time</label>
                <input asp-for="End_Time" type="datetime-local" class="form-control" />
                <span asp-validation-for="End_Time" class="text-danger"></span>
            </div>

            <!-- Status -->
            <div class="col-md-12">
                <label asp-for="Status" class="form-label">Status</label>
                <select asp-for="Status" class="form-select"
                        asp-items="Html.GetEnumSelectList<ReservationStatus>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>

            </div>

            <!-- Buttons -->
            <div class="col-12 d-flex justify-content-end gap-2 mt-3">
                <a asp-action="Index" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
